header h1 {
    text-align: center;
}
section.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1%;
}

footer h3 {
    text-align: center;
}

section.main img {
    margin-left: 3%;
}